.mycontainer{
    margin:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mytitle{
    font-size:40px;
    text-align: center;
    color:white;
}
.mycover{
    background-color: #10e9a8;
    padding:20px;
}
input{
    height:30px;
    font-size:16px;
}
.twomovies{
    display:flex;
    flex-wrap: wrap;
}
.dropdown_image{
    max-height:70px;
}
#movie_search, #movie_search2{
    width:100%;
}
p{
    margin:0;
    text-align: justify;
}
h3{
    font-size:24px;
    font-weight:bolder;
}
h5{
    font-size:20px;
    font-weight:bold;
}
.single_image{
    margin:10px 20px 10px 0;
    max-height:200px;
}
.name_from_list{
    display:flex;
    align-items: center;
}
.titlespan{
    white-space: initial;
    margin:0 0 0 10px;
}
.mybox{
    width:600px;
    margin:20px;
}
.min-type-year{
    text-align: center;
}
.dualbox{
    display:flex;
}

.chosen_movie_item{
    background-color: #FFEBCD;
    margin-top:10px;
    padding:10px;
}
.chosen_movie2_item{
    background-color: #FFEBCD;
    margin-top:10px;
    padding:10px;
}

.normal{
    background-color: #FFEBCD;
}

.win{
    background-color: #53f3c3;
}