#mycontainer{
    margin:20px;
}
.dropdown_image{
    max-height:100px;
}
#movie_list{
    background-color:skyblue;
    max-width:385px;
}
.dropdown-content{
    max-width:380px;
}
#movie_search{
    min-width:380px;
}

p{
    margin:0;
}
h2{
    font-size:30px;
    font-weight:bolder;
}
h5{
    font-size:20px;
    font-weight:bold;
}
.single_image{
    margin:10px 0 10px 0;
}